.thetop{  
    padding-bottom: 50px;
     }

     .welcome {
        padding-bottom: 50px
     }


      .inter{
         padding-top: 50px;
      }

      .inter2{
         padding-top: 50px;
         padding-bottom: 50px;
      }

      .to h6{
         padding-top: 10px;
         padding-bottom: 50px;
      }

      .interduce{
         padding-top: 150px;
         padding-bottom: 150px;
      }

      .interduce h2{
         padding-top: 80px;
         padding-bottom: 20px;
      }

   
      

      .work img{
         padding-top: 10px;
         padding-bottom: 10px;
         padding-left: 10px;
         padding-right: 10px;


      }

      .skill{
         padding-top: 50px;
         padding-bottom: 50px;
      }
      

      .foot{
         background: #414141;
         padding-top: 20px;
         padding-bottom: 20px;

      }
      .foot h6 {
         color: #ffffff;
         

      }
      .foot h6 a{
         color: #ffffff;
         text-decoration: none;

      }

      .foot a:hover{
         color: rgb(255, 0, 111);
        
       }

       .to ul li a:hover{
         color: rgb(255, 0, 111);
       }

       